APScheduler==3.2.0
async-timeout==4.0.2
backports.zoneinfo==0.2.1
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
configobj==5.0.6
cryptography==39.0.2
dbus-python==1.2.4
decorator==4.2.1
Flask==1.0
gpg==1.13.1
gunicorn==19.9.0
idna==2.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
libcomps==0.1.18
lxml==4.9.2
MarkupSafe==2.0.1
nftables==0.1
numpy==1.19.5
packaging==21.3
pandas==1.1.5
perf==0.1
pycparser==2.21
PyGObject==3.28.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-linux-procfs==0.6.3
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pyudev==0.21.0
redis==4.3.5
requests==2.20.0
rpm==4.14.3
schedule==1.1.0
selinux==2.9
semantic-version==2.10.0
setuptools-rust==1.1.2
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
syspurpose==1.28.21
typing_extensions==4.1.1
tzdata==2022.7
tzlocal==4.2
urllib3==1.24.3
Werkzeug==0.15.5
xlrd==2.0.1
zipp==3.6.0
